#controls {
    position: absolute;
    z-index: 10;
    left: 0px;
    right: 0px;
    bottom: 4%;
    width: 80%;
    margin: auto;
    color: white;
    box-shadow: 0px 0px 5px #ffffff88;
    padding: 10px 30px;
    background-color: #ffffff22;
}

#calendar,
#timeline {
    display: block;
    height: 50px;
    width: 100%;
}

/* #calendar {
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 100%;
    color: white;
}

#timeline {
    position: absolute;
    z-index: 10;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    width: 80%;
    margin: auto;
    color: white; 
} */
.calendar-content {
    height: 100%;
}

.calendar__month-header {
    height: 50%;
}

.calendar__days-wrapper {
    display: flex;
    height: 50%;
}

.day {
    flex: 1;
    cursor: pointer;
}

.timeline-content {
    display: flex;
    height: 100%;
    width: 100%;
}

.timeline__nav {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    border: .5px solid white;
    cursor: pointer;
    line-height: 33px;
    text-align: center;
    font-size: 35px;
}

.timeline__nav.backward {
    text-indent: -2px;
}

.timeline__nav.forward {
    text-indent: 2px;
}

.timeline__nav:hover {
    background-color: #ffffff55;
}

.timeline__hours-wrapper {
    display: flex;
    flex: 1;
}

.hour {
    flex: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour:hover,
.day:hover,
.hour.active,
.day.active {
    color: yellow;
}

/* th, td {
    cursor: pointer;
}

th:hover, td:hover {
    color: yellow;
} */

.day.active {
    color: yellow;
}

.hour.active {
    color: yellow;
}