body {
    background-color: #1b1b33;
}

#canvas.blocked {
    pointer-events: none;
    cursor: wait; /* not-allowed */
}

#info {
    position: absolute;
    right: 20px;
    top: 20px;
}

.info__icon {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 5px #ffffff55;
    margin-left: auto;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: white;
}

.info__icon:hover {
    background-color: #ffffff55;
}

.info__icon:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 2em;
    content: "i";
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 37px;
    text-align: center;
    text-indent: -1px;
}

.info__content {
    display: none;
    width: 350px;
    margin-right: 20px;
    box-shadow: -5px 5px 15px #000000;
    background-color: white;
    padding: 1px 40px;
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 25px;
}

#info:hover .info__content {
    display: block;
}

#scales {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    line-height: 18px;
}

#scales .scales__title {
    border-bottom: .5px solid;
    padding-right: 50px;
    margin-bottom: 5px;
}

#scales .scale {
    cursor: pointer;
}

#scales .scale.active {
    color: yellow;
    font-weight: bold;
}

#controls {
    position: absolute;
    z-index: 10;
    left: 0px;
    right: 0px;
    bottom: 4%;
    width: 80%;
    margin: auto;
    color: white;
    box-shadow: 0px 0px 5px #ffffff88;
    padding: 5px 30px;
    background-color: #ffffff22;
    display: flex;
}

.time-controls {
    flex: 1;
    height: 100%;
}

.animation-controls {
    margin: 10px 0px 10px 10px;
    border-left: 1px solid;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

#animate {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #ffffff55;
    cursor: pointer;
    position: relative;
}

#animate:hover {
    background-color: #ffffff55;
}

#animate:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 40px;
    height: 40px;
    content: "▶";
    font-size: 35px;
    line-height: 33px;
    text-indent: 10px;
}

#animate.active:after {
    content: "◼";
    text-indent: 5px;
    font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 600px) {
    .time-controls {
        display: none;
    }

    #animate {
        border: none;
    }

    .animation-controls {
        border: none;
        padding: 0;
        margin: 10px;
        height: auto;
        width: 100%;
    }
}

#calendar,
#timeline {
    display: block;
    width: 100%;
    padding: 10px 0px;
}

.calendar__content {
    height: 100%;
    display: flex;
}

.calendar__header {
    height: 50%;
    text-align:center;
    font-weight: bold;
    font-size: 1.1em;
}

.calendar__days-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.calendar__days-row {
    display: flex;
    flex: 1;
}

.day {
    flex: 1;
    flex-basis: 30px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.timeline__content {
    display: flex;
    height: 100%;
    width: 100%;
}

.timeline__hours-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 5px;
}

.timeline__hours-row {
    display: flex;
    flex: 1;
}

.hour {
    flex: 1;
    flex-basis: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
}

@media screen and (min-width: 1500px) {
    .timeline__content {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1000px) {
    .timeline__content {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 750px) {
    .timeline__content {
        font-size: 0.8em;
    }
}

.hour:hover,
.day:hover,
.hour.active,
.day.active {
    color: yellow;
    /* color: #a5a4aa;
    color: #77d2b7;
    color: #4affc3;
    color: #d2769e;
    color: #ff4891;
    color: #dbf4fa; */
}

.day.active, 
.hour.active {
    color: yellow;
    font-weight: bold;
}

.calendar__nav,
.timeline__nav {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #ffffff55;
    cursor: pointer;
    line-height: 33px;
    text-align: center;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}

.calendar__nav.backward,
.timeline__nav.backward {
    text-indent: -2px;
}

.calendar__nav.forward,
.timeline__nav.forward {
    text-indent: 2px;
}

.calendar__nav:hover,
.timeline__nav:hover {
    background-color: #ffffff55;
}